.swiper-slide[prefix="_swpSlide-md-54"] {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* 
   test css values 
  */
  background-color: rgb(23, 93, 93);
  border: 1px solid black;
}

.swiper-slide[prefix="_swpSlide-md-54"] div {
  /* test css values */
  font-size: 48px;
}
